/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: 'Montserrat', sans-serif;  height: 100vh;
  font-size: 12px;
}





/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }

  
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }

}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid brown;
}

.menu li {
 list-style: none; 
}

.menu a {
  
  display: block;
  padding: 10px 20px;
  transition: 1s transform;
}

a {
  color: brown;
  text-decoration: none;
}

.menu li:hover{
  font-weight: bold;
}

.menu a:hover{
  transform: rotate(5deg);
}




.site-subtitle, 
.site-title {
  color: brown;
  text-align: center;
}

.site-title {
  font-size: 4em;
}

.site-title:after{
  content: '|';
  margin-left: 5px;
  opacity: 0;
  animation: pisca .8s infinite;
}



@keyframes pisca{
  0%, 100%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  
}



.site-subtitle {
  font-family: 'Geo', sans-serif;
 font-style: italic;
 line-height: 1.8em;
}

header div a {
  font-size: 50px;
  margin-top: 20px;
  width: 50vw;
  transition: 1s text-shadow;

}
header div a:active,
header div a:hover{
  text-shadow: 5px 1px rgb(143, 77, 77);
}





.portfolio {
  background-color: brown;
  padding: 2em;
  height: 100vh auto;
}

.portfolio h2 {
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }

  .portfolio figcaption{
    width: 260px;
  }

 
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
  
}

@media(min-width: 300px){
  .portfolio figcaption{
    width: 260px;
    margin-left: 7.2vw;
  }
}

@media(min-width: 400px){
  .portfolio figcaption{
    width: 260px;
    margin-left: 11.5vw;
  }
}

@media(min-width: 320px){
  .portfolio figcaption{
    width: 260px;
    margin-left: 2vw;
  }
}

@media(min-width: 375px){
  .portfolio figcaption{
    width: 260px;
    margin-left: 9vw;
  }
}

@media(min-width: 410px){
  .portfolio figcaption{
    width: 260px;
    margin-left: 12vw;
  }
}

@media(min-width: 700px){
  .portfolio figcaption{
    width: 260px;
    margin-left: 0vw;
  }
}

@media(min-width: 600px){
  .portfolio figcaption{
    width: 260px;
    margin-left: 0vw;
  }
}



.portfolio figure {
  text-align: center;
}

.portfolio figcaption{
  background-color: white;
  color: brown
}

.img-portfolio {
  height: 180px;
  width: 260px;
  object-fit: cover;
  object-position: left bottom;
}


